<div class="wrapper">
  <nav class="nav">
    <div class="nav-logo">
        <img src="../../assets/logoSpotiflyx2.png" alt="logo">
    </div>
    <section class="nav-and-icons">
        <div class="nav-menu" id="navMenu">
            <ul>
                <li><a href="#" class="link">About</a></li>
                <li><a href="#" class="link">Countrie</a></li>
            </ul>
        </div>
        <div class="nav-button">
            <button class="btn" id="login-btn" (click)="navigateToLogin()">Sign In</button>
            <button class="btn white-btn" id="register-btn" (click)="navigateToRegister()">Sign Up</button>
        </div>
        <div class="nav-menu-btn">
            <i class="bx bx-menu" onclick="myMenuFunction()"></i>
        </div>
    </section>
  </nav>
  <div class="legalContainer">
    <h1>Conditions Générales d'Utilisation de SPOTIFLIX</h1>
    <div class="legalInfo">
      <h3>Adresse :</h3><p>&nbsp;&nbsp;&nbsp;2 Rue du Professeur Charles Appleton, 69007 Lyon, France</p>
    </div>
    <div class="legalInfo">
      <h3>Téléphone :</h3><p>&nbsp;&nbsp;&nbsp;07 15 85 79 65</p>
    </div>
    <div class="legalInfo">
      <h3>E-mail :</h3><a href="mailto:contact.spotiflyx&#64;gmail.com">&nbsp;&nbsp;&nbsp;contact.spotiflyx&#64;gmail.com</a>
    </div>
    <h2>Absence de Transactions Financières</h2>
    <p>Il n'y a aucun paiement à effectuer sur SPOTIFLIX, le service étant entièrement gratuit. En conséquence, 
      il n'existe aucune politique de retour ou de remboursement.</p>
    <h2>Utilisation des Contenus</h2>
    <p>Toutes les vidéos postées par les utilisateurs sur SPOTIFLIX peuvent être reprises et utilisées par 
      d'autres utilisateurs sans restrictions. Les utilisateurs qui postent des vidéos sur SPOTIFLIX acceptent 
      que leurs contenus soient partagés librement sur la plateforme.</p>
    <h2>Exclusion de Responsabilité</h2>
    <p>SPOTIFLIX ne vend aucun produit et n'agit qu'en tant que plateforme de diffusion de contenu vidéo. 
      En conséquence, SPOTIFLIX n'est pas responsable des vidéos postées par les utilisateurs ni de leur 
      utilisation par d'autres.</p>
    <h2>Droits de Propriété Intellectuelle</h2>
    <p>Les utilisateurs de SPOTIFLIX sont seuls responsables de s'assurer qu'ils détiennent les droits 
      nécessaires sur les contenus qu'ils partagent sur la plateforme, y compris les droits d'auteur et droits 
      connexes.</p>
    <h2>Modifications des Conditions</h2>
    <p>SPOTIFLIX se réserve le droit de modifier à tout moment ces conditions d'utilisation sans préavis. 
      Les utilisateurs sont invités à consulter régulièrement les conditions pour prendre connaissance 
      de toute modification.</p>
    <h2>Loi Applicable et Juridiction</h2>
    <p>Les présentes conditions générales sont régies et interprétées conformément aux lois françaises. 
      Tout litige relatif à ces conditions sera soumis à la juridiction exclusive des tribunaux français.</p>
  </div>
</div>
