@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=PT+Sans+Narrow:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 6rem;
    margin-top: 6rem;
    font-family: Arial, sans-serif;
}

.search-container {
    display: flex;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
}

input[type="text"] {
    padding: 14px;
    padding-left: 25px;
    border: none;
    font-size:small;
    border-radius: 5px 0 0 5px;
    width: 340px;
    outline: none;
    color: white;
    background: transparent;
}

.fa-search {
    padding: 1rem;
    margin-top: 14px;
    margin-right: 17px;
    color: rgb(135, 135, 135);
    cursor: pointer;
}

.imgNavigation {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: 2.5rem;
}

.imgg {
    display: flex;
    justify-content: center;
    width: 34rem;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.imgNavigation img {
    height: 5rem;
}

.containerHome {
    width: 100vw;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 4rem;
    padding: 0;
    display: flex;
    justify-content: start;   
}

.settings {
    /* background-color: blue; */
    width: 30rem;
    color: white;
}

.content {
    color: white;
    display: flex;
    width: calc(81vw - 20rem - 3rem);
    background-color: rgb(25, 236, 6);
}

.content h2, .settings h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: large;
}

.typeSettings {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-bottom: 0;
}

.typeSettings h3 {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: small;
    margin-bottom: 0;
    padding-bottom: 1rem;
    cursor: pointer;
    transition: 0;
}

.settings .typeSettings {
    width: 85%;
    position: relative; /* Nécessaire pour positionner le pseudo-élément */
    overflow: visible; /* Assurez-vous que le pseudo-élément ne sera pas coupé */
}

.settings .typeSettings::after {
    content: ''; /* Nécessaire pour que le pseudo-élément s'affiche */
    position: absolute;
    left: 0;
    right: 0;
    bottom: -0px; /* Décale la "bordure" de 2px en dessous de l'élément */
    border-bottom: 3px solid rgba(126, 126, 126, 0.15); /* Crée la bordure */
    display: block;
}

.videoSettings {
    margin-right: 2rem;
}