@import 'https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css';

.container {
    margin-top: 300px;
}

.ui-w-80 {
    width : 80px !important;
    height: auto;
}

.btn-default {
    border-color: rgba(24, 28, 33, 0.1);
    background  : rgba(0, 0, 0, 0);
    color       : #4E5155;
}

label {
    color: white;
}

label.btn {
    margin-bottom: 0;
}

input {
    font-size: 1.5em;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    border: none;
}

textarea {
    font-size: 1.5em;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    border: none;
}

select {
    font-size: 1.5em;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    border: none;
}

.btn-save {
    background-color: rgb(255, 0, 0);
    border-color: rgb(255, 0, 0);
}

.btn-outline-primary {
    border-color: rgb(255, 0, 0);;
    background  : transparent;
    color: rgb(255, 0, 0);
}

.btn {
    cursor: pointer;
    font-size: 2rem;
    color: white;
}

.text-light {
    color: #babbbc !important;
}

.btn-twitter {
    border-color: rgba(0, 0, 0, 0);
    background  : #ffffff;
    color       : #000000;
}

.btn-facebook {
    border-color: rgba(0, 0, 0, 0);
    background  : #ffffff;
    color       : #000000;
}

.btn-instagram {
    border-color: rgba(0, 0, 0, 0);
    background  : #ffffff;
    color       : #000000;
}

.card {
    font-size: 2.5rem;
    background-clip: padding-box;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.row-bordered {
    overflow: hidden;
}

.account-settings-fileinput {
    position  : absolute;
    visibility: hidden;
    width     : 1px;
    height    : 1px;
    opacity   : 0;
}

.account-settings-links .list-group-item.active {
    font-weight: bold !important;
}

html:not(.dark-style) .account-settings-links .list-group-item.active {
    background: transparent !important;
}

.account-settings-multiselect~.select2-container {
    width: 100% !important;
}

.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    color: white;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.material-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.material-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.dark-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(255, 255, 255, 0.03) !important;
}

.dark-style .account-settings-links .list-group-item.active {
    color: rgba(255, 255, 255, 0.2) !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4E5155 !important;
}

.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}