
:root {
    --main-color: #d3ad7f
    --black: #13131a
    --bg: #010103;
    --border:.1rem solid rgba(255, 255, 255,.3);
}

.header {
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 4%;
    border-bottom: rgba(255, 255, 255,.3);
    position: fixed;
    top:0; left: 0 ; right: 0;
    z-index: 1000;
    margin-top: 2rem;
}

.header .logo img {
    height: 7rem;
}

.header .navbar a {
    margin: 0 1rem;
    font-size:3rem;
    color: #fff
}

.header .navbar a:hover {
    color: #d3ad7f;
    border-bottom: .1rem solid #d3ad7f;
    padding-bottom: .5rem;
}

.header .icons div{
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color: #d3ad7f;
}

#menu-btn {
    display: none;
}

.header .search-form {
    position: absolute;
    top: 115%; right: 4%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active {
    transform: scaleY(1);
}

.header .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: black;
    padding:1rem;
    text-transform: none;
}

.header .search-form label {
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: black;
}

.header .search-form label:hover {
    color: #d3ad7f;
}

@media (max-width: 685px) {

    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active {
        right: 0;
    }

    .header .navbar a {
        color: black;
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }

    .header .search-form {
        width: 90%;
        right: 2rem;
    }
}