<app-header> </app-header>

<div class="container">
  <div class="container light-style flex-grow-1 container-p-y">
      <div class="card overflow-hidden">
          <div class="row no-gutters row-bordered row-border-light">
              <div class="col-md-3 pt-0">
                  <div class="list-group list-group-flush account-settings-links">
                    <a class="list-group-item list-group-item-action" href="javascript:void(0);" routerLink="profile" (click)="navigateTo('profile')">General</a>
                    <a class="list-group-item list-group-item-action" href="javascript:void(0);" routerLink="profile/change-password" (click)="navigateTo('profile/change-password')">Change password</a>
                    <a class="list-group-item list-group-item-action" href="javascript:void(0);" routerLink="profile/account-info" (click)="navigateTo('profile/account-info')">Info</a>
                    <a class="list-group-item list-group-item-action" href="javascript:void(0);" routerLink="profile/account-social-links"(click)="navigateTo('profile/account-social-links')">Social links</a>
                    <a class="list-group-item list-group-item-action" href="javascript:void(0);" routerLink="profile/account-connections"(click)="navigateTo('profile/account-connections')">Connections</a>
                    <a class="list-group-item list-group-item-action" href="javascript:void(0);" routerLink="profile/account-notifications"(click)="navigateTo('profile/account-notifications')">Notifications</a>
                  </div>
              </div>
              <div class="col-md-9">
                  <div class="tab-content">
                    <div id="account-notifications">
                        <div class="card-body pb-2">
                            <h6 class="mb-4">Activity</h6>
                            <div class="form-group">
                                <label class="switcher">
                                    <input type="checkbox" class="switcher-input" [(ngModel)]="emailWhenCommented">
                                    <span class="switcher-indicator">
                                        <span class="switcher-yes"></span>
                                        <span class="switcher-no"></span>
                                    </span>
                                    <span class="switcher-label">Contact me when someone comments on my article</span>
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="switcher">
                                    <input type="checkbox" class="switcher-input" [(ngModel)]="emailWhenAnswered">
                                    <span class="switcher-indicator">
                                        <span class="switcher-yes"></span>
                                        <span class="switcher-no"></span>
                                    </span>
                                    <span class="switcher-label">Contact me when someone answers on my forum thread</span>
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="switcher">
                                    <input type="checkbox" class="switcher-input">
                                    <span class="switcher-indicator">
                                        <span class="switcher-yes"></span>
                                        <span class="switcher-no"></span>
                                    </span>
                                    <span class="switcher-label">Contact me when someone follows me</span>
                                </label>
                            </div>
                        </div>
                        <hr class="border-light m-0">
                        <div class="card-body pb-2">
                            <h6 class="mb-4">Application</h6>
                            <div class="form-group">
                              <label class="switcher">
                                  <input type="checkbox" class="switcher-input" [checked]="newsAndAnnouncements">
                                  <span class="switcher-indicator">
                                      <span class="switcher-yes"></span>
                                      <span class="switcher-no"></span>
                                  </span>
                                  <span class="switcher-label">News and announcements</span>
                              </label>
                          </div>
                          <div class="form-group">
                              <label class="switcher">
                                  <input type="checkbox" class="switcher-input" [checked]="weeklyProductUpdates">
                                  <span class="switcher-indicator">
                                      <span class="switcher-yes"></span>
                                      <span class="switcher-no"></span>
                                  </span>
                                  <span class="switcher-label">Weekly product updates</span>
                              </label>
                          </div>
                          <div class="form-group">
                              <label class="switcher">
                                  <input type="checkbox" class="switcher-input" [checked]="weeklyBlogDigest">
                                  <span class="switcher-indicator">
                                      <span class="switcher-yes"></span>
                                      <span class="switcher-no"></span>
                                  </span>
                                  <span class="switcher-label">Weekly blog digest</span>
                              </label>
                              </div>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-right mt-3">
          <button type="button" class="btn btn-primary btn-save" (click)="saveChanges()">Save changes</button>&nbsp;
          <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
        </div>
    </div>
  </div>
