<header class="header">
    <a href="#" class="logo">
      <img src="../assets/logoSpotiflyx2.png" alt="Logo Spotiflix">
    </a>
    <section class="nav-and-icons">
      <nav class="navbar" [class.active]="navbarActive">
        <a routerLink="/home">Home</a>
        <a routerLink="/about">About</a>
        <a routerLink="/services">Services</a>
        <a>EN</a>
      </nav>
      <div class="icons">
        <div class="search-form" id="search-form">
          <input type="search" id="search-box" placeholder="search...">
            <a href="#">
              <label for="search-box" class="fas fa-search"></label>
            </a>
        </div>
        <div class="fas fa-user" id="login-btn" (click)="toggleMenu()"></div>
        <div class ="fas fa-bars" id ="menu-btn" (click)="onMenuButtonClick()"></div>

        <div class="sub-menu-wrap" [class.open-menu]="menuOpen">
          <div class="sub-menu">
            <div class="user-info">
              <!-- <img src="../../assets/logoEmpty.png" alt="logo de profile"> -->
              <h3>User</h3>
            </div>
            <hr>
            <a routerLink="profile" (click)="navigateTo('profile')" class="sub-menu-link">
              <img src="../../assets/DropAccount/profile.png">
              <p>Edit Profile</p>
              <span></span>
            </a>
            <a href="#" class="sub-menu-link">
              <img src="../../assets/DropAccount/setting.png">
              <p>Settings & Privacy</p>
              <span></span>
            </a>
            <a href="#" class="sub-menu-link">
              <img src="../../assets/DropAccount/help.png">
              <p>Help & Support</p>
              <span></span>
            </a>
            <a href="#" class="sub-menu-link">
              <img src="../../assets/DropAccount/logout.png">
              <p>Logout</p>
              <span></span>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- <div class="search-form" id="search-form" [hidden]="!searchFormVisible">
      <input type="search" id="search-box" placeholder="search...">
      <label for="search-box" class="fas fa-search"></label>
    </div> -->
  </header>