
.header {
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 4%;
    border-bottom: rgba(255, 255, 255,.3);
    position: sticky;
    top:0; left: 0 ; right: 0;
    z-index: 1000;
}

.header .nav-and-icons {
    display: flex;
    align-items: center;
}

.header .logo img {
    height: 5rem;
}

.header .navbar a {
    margin: 0 1rem;
    padding: 1rem;
    font-size:2rem;
    color: #fff;
}

.header .navbar a:hover {
    color: #ffffff;
    border-bottom: .1rem solid #ffffff;
    padding-bottom: .5rem;
    font-weight: 500;
    transition: 0.7s;
}

.header .icons {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons :hover{
    color: #ffffff;
}

#menu-btn {
    display: none;
}

.header .search-form {
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 10px 30px;
    cursor: pointer;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    margin-right: 4.5rem;
    /* transform: scaleY(0);
    transform-origin: top; */
}

.header .search-form:hover input {
    width: 150px;
}

.header .search-form input {
    width: 0;
    font-weight: 500;
    background: transparent;
    transition: 0.8s;
}

.header .search-form a .fas {
    color: rgb(255, 0, 0);
    font-size: 18px;
}

.fa-user {
    padding: 1rem;
    cursor: pointer;
}


/* .header .search-form.active {
    transform: scaleY(1);z
} */

/* .header .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: black;
    padding:1rem;
    background: transparent;
    transition: 0.8s;
}

.header .search-form label {
    cursor: pointer;
    font-size: 2.2rem;
    margin-left: 1.5rem;
    color: black;
    order: -1;
}

.search-form label .fas {
    color:  #1daf;
    font-size: 18px;

}
.header .search-form label:hover {
    color: #d3ad7f;
} */

@media (max-width:1000px) {

    #menu-btn {
        display: inline-block;
        font-size: 3.5rem;
    }

    .header .navbar {
        position: absolute;
        top: 100%; right: -100%;
        background: rgba(0, 0, 0, 0.2);
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active {
        right: 0;
    }

    .header .navbar a {
        color: rgb(255, 255, 255);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }

    .header .search-form {
        display: none;
    }

    #login-btn {
        display: none;
    }

    /* .header .search-form {
        width: 90%;
        right: 2rem;
    } */
}
