
.header {
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 4%;
    border-bottom: rgba(255, 255, 255,.3);
    position: sticky;
    top:0; left: 0 ; right: 0;
    z-index: 1000;
}

.header .nav-and-icons {
    display: flex;
    align-items: center;
}

.header .logo img {
    height: 5rem;
}

.header .navbar a {
    margin: 0 1rem;
    padding: 1rem;
    font-size:2rem;
    color: #fff;
    cursor: pointer;
}

.header .navbar a:hover {
    color: #ffffff;
    border-bottom: .1rem solid #ffffff;
    padding-bottom: .5rem;
    font-weight: 500;
    transition: 0.7s;
}

.header .icons {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons :hover{
    color: #ffffff;
}

#menu-btn {
    display: none;
}

.header .search-form {
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 10px 30px;
    cursor: pointer;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    margin-right: 4.5rem;
    /* transform: scaleY(0);
    transform-origin: top; */
}

.header .search-form:hover input {
    width: 150px;
}

.header .search-form input {
    font-size: large;
    width: 0;
    font-weight: 500;
    background: transparent;
    transition: 0.8s;
}

.header .search-form a .fas {
    color: rgb(255, 0, 0);
    font-size: 18px;
    cursor: pointer;
}

.fa-user {
    padding: 1rem;
    cursor: pointer;
}

/*dropdown menu*/

.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 0%;
    width: 320px;
    overflow: hidden;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out, visibility 0s 0.5s, opacity 0.5s linear;
    visibility: hidden;
    opacity: 0;
}

.sub-menu-wrap.open-menu {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
}

.sub-menu {
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    border-radius: 10px 10px 10px 10px;
    padding: 20px;
    margin: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info h3 {
    font-weight: 500;
}

.user-info img {
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    margin: 12px 0;
}

.sub-menu-link p {
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

.sub-menu-link img {
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub-menu-link span {
    font-size: 22px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span {
    transform: translateX(5px);
}

.sub-menu-link:hover {
    font-weight: 600;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    padding: 12px 16px;
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


@media (max-width:1000px) {

    #menu-btn {
        display: inline-block;
        font-size: 3.5rem;
    }

    .header .navbar {
        position: absolute;
        top: 100%; right: -100%;
        background: rgba(0, 0, 0, 0.2);
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active {
        right: 0;
    }

    .header .navbar a {
        color: rgb(255, 255, 255);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }

    .header .search-form {
        display: none;
    }

    #login-btn {
        display: none;
    }

    /* .header .search-form {
        width: 90%;
        right: 2rem;
    } */
}
