@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --main-color: #d3ad7f
    --black: #13131a
    --bg: #010103;
    --border:.1rem solid rgba(255, 255, 255,.3);
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    outline: none; border: none;
    transition: all 0.5s ease-in-out;
}

html {
    font-size: 62.5%;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

body {
    background-image: url('assets/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}